In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from scipy.stats import sem
import warnings
import csv

In [2]:
teams_df = pd.read_csv("MLBTeamRevenues.csv")
teams_df.head()

,Year,Tm,Lg,W,L,Finish,Playoffs,Attendance,Attend/G,Rank,Est. Payroll,PPF,BPF,Stadium,Revenue,Operating Income,Net Income
0,2019,Baltimore Orioles,AL East,54,108,5,NaN,"1,307,807","16,146",14th of 15,"$82,696,100",102,99,Oriole Park at Camden Yards,NaN,NaN,NaN
1,2018,Baltimore Orioles,AL East,47,115,5,NaN,"1,564,192","19,311",14th of 15,"$141,555,833",100,98,Oriole Park at Camden Yards,251.0,-6.5,NaN
2,2017,Baltimore Orioles,AL East,75,87,5,NaN,"2,028,424","25,042",12th of 15,"$161,621,633",99,97,Oriole Park at Camden Yards,252.0,-26.0,NaN
3,2016,Baltimore Orioles,AL East,89,73,2,Lost ALWC (1-0),"2,172,344","26,819",10th of 15,"$153,744,833",102,102,Oriole Park at Camden Yards,253.0,-2.1,NaN
4,2015,Baltimore Orioles,AL East,81,81,3,NaN,"2,281,202","29,246",8th of 15,"$112,989,833",102,102,Oriole Park at Camden Yards,239.0,8.8,NaN

In [ ]:
#iterate through rows to collect unique team names and append to an array
teams = []
for i, row in teams_df.iterrows():
    if